.wallet {
    background-color: #D3D0CB; /* Light blue */
    position: relative;
    text-align: center;
    padding: 100px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.balance {
    font-size: 20px;
    font-weight: bold;
    color: #395E66; /* Green for positive balance */
}

.deposit, .withdraw {
    margin-top: 50px;
}

.history {
    margin-top: 90px;
}

.history ul {
    list-style: none;
    padding: 0;
}

.history li {
    margin-bottom: 90px;
}